// bower:scss
@import "bower_components/normalize-scss/_normalize.scss";
// endbower

@import 'base/variables';
@import 'base/mixins';
@import 'base/defaults/code';
@import 'base/defaults/defaults';
@import 'base/defaults/forms';
@import 'base/defaults/headings';
@import 'base/defaults/lists';
@import 'base/defaults/quotes';
@import 'base/defaults/tables';

@import 'module/beer';
@import 'module/brewery';
@import 'module/button';
@import 'module/style-guide';
@import 'module/stars';
@import 'module/tags';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
