/* ==========================================================================
   Variables
   ========================================================================== */

$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-mono: Menlo, Monaco, Consolas, monospace;

/* Colors
   ========================================================================== */

$white:        #ffffff;

$gray-darker:  #222222;
$gray-dark:    #4a4a4a;
$gray:         #808080;
$gray-light:   #cccccc;
$gray-lighter: #fafafa;

$yellow:       #f7dd89;
$red:          #da0089;

/* Media Queries
   ========================================================================== */

$screen-sm: '(min-width: 22em)';
$screen-md: '(min-width: 32em)';
$screen-lg: '(min-width: 60em)';
