/* ==========================================================================
   Variables
   ========================================================================== */

$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-mono: Menlo, Monaco, Consolas, monospace;

$transition-duration: 150ms;

/* Colors
   ========================================================================== */

$black:        #000000;
$white:        #ffffff;

$yellow:       #f7dd89;
$green:        #a2bd47;
$orange:       #ed7b47;

$gray-darker:  mix($black, $yellow, 75%);
$gray-dark:    mix($black, $yellow, 50%);
$gray:         mix($black, $yellow, 25%);
$gray-light:   mix($white, $yellow, 25%);
$gray-lighter: mix($white, $yellow, 50%);


/* Media Queries
   ========================================================================== */

$screen-sm: '(min-width: 22em)';
$screen-md: '(min-width: 32em)';
$screen-lg: '(min-width: 60em)';
