/* ==========================================================================
   Quotes
   ========================================================================== */

blockquote {
  margin: 0 0 1em;
  padding: 0 0 0 2em;

  blockquote {
    padding: 0 0 0 1em;
  }
}
