/* ==========================================================================
   Button
   ========================================================================== */

.button {
  @include form-button;
}
.button--secondary {
  @include form-button(mix($gray, $gray-dark));

  &:focus,
  &:hover,
  &:active {
    background: $gray;
    border-color: $gray;
    color: $black;
  }
}
.button--danger {
  @include form-button($color: $orange);
}
.button--success {
  @include form-button($color: $green);
}
