/* ==========================================================================
   Typeahead
   ========================================================================== */

/**
 * Styles for the Twitter Typeahead.js jQuery plugin.
 */

.twitter-typeahead {
  width: 100%;
}

// .tt-hint:focus {
//   background: $white;
//   color: $black;
// }
// .tt-input:focus ~ .tt-hint {
//   background: $white !important;
// }

.tt-hint {
  color: $gray-dark !important;
}

.tt-menu {
  width: 100%;
}
.tt-selectable {
  @include font-size-small;

  background: $gray-lighter;
  border-color: $gray-darker;
  border-style: solid;
  border-width: 0 3px 3px;
  color: $gray-darker;
  cursor: pointer;
  font-weight: 700;
  padding: (.75em / .875) (1em / .875);

  @media #{$screen-md} {
    padding: (.6em / .875) (.9em / .875);
  }

  &.tt-cursor,
  &:hover {
    background: $white;
    color: $black;
  }

  p {
    margin-bottom: 0;
  }
}

/**
 * 'Focused' state.
 *
 * Typeahead does some crazy stuff with inputs. Focusing must be toggled on the
 * parent element with a class.
 */
.is-focused.twitter-typeahead {
  .tt-hint {
    background: $white !important;
  }
  .tt-input {
    color: $black !important; // $black;
  }
}
