  <ol>
    <li>
      <a href="#design">Design</a>
      <ol>
        <li><a href="#design-colors">Colors</a></li>
        <li><a href="#design-fonts">Fonts</a></li>
      </ol>
    </li>
    <li>
      <a href="#basic-elements">Basic Elements</a>
      <ol>
        <li><a href="#basic-elements-headings">Headings</a></li>
        <li><a href="#basic-elements-text-content">Text Content</a></li>
        <li><a href="#basic-elements-tables">Tables</a></li>
        <li><a href="#basic-elements-buttons">Buttons</a></li>
        <li><a href="#basic-elements-forms">Forms</a></li>
      </ol>
    </li>
    <li>
      <a href="#components">Components</a>
      <ol>
        <li><a href="#components-account-area">Account Area</a></li>
        <li><a href="#components-review">Review</a></li>
        <li><a href="#components-filters">Filters</a></li>
        <li><a href="#components-tags">Tags</a></li>
        <li><a href="#components-beer">Beer</a></li>
        <li><a href="#components-brewery">Brewery</a></li>
      </ol>
    </li>
    <li>
      <a href="#pieces">Pieces</a>
      <ol>
        <li><a href="#pieces-new-form">New Form</a></li>
      </ol>
    </li>
  </ol>
