/* ==========================================================================
   Defaults
   ========================================================================== */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: $yellow;
  color: $gray-darker;
  font-family: $font-sans;
}
body {
  font-size: 87.5%;
  line-height: 1.5;

  @media #{$screen-sm} {
    font-size: 100%;
    line-height: 1.45;
  }
  @media #{$screen-md} {
    font-size: 112.5%;
    line-height: 1.4;
  }
}

a {
  color: $orange;

  &:focus,
  &:hover,
  &:active {
    color: $black;
  }
}

p {
  margin: 0 0 1em;
}
